<?xml version="1.0"?>
<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.6" />
      <httpRuntime targetFramework="4.6" />
    </system.web>
  <appSettings>
    <add key="CacheConnection" value="HelloDoctorCacheUAT.redis.cache.windows.net:6380,password=VwhcrjmYmi2pwRq6Z4x199gQ/QHBJ8QZ1C5IsXVH1lU=,ssl=True,abortConnect=False"/>
  </appSettings>
  

</configuration>
