    
<div ng-controller="QuestionListController">

    <a class="glyphicon-link" ng-click="newQuestion()">New Question</></a>
    <h1>Questions</h1>
    <hr/>
    <table class="striped">
        <thead>
        <tr>
            <th data-field="id">id</th>
            <th data-field="name">Question3</th>
            <th data-field="id">View</th>
            <th data-field="name">Delete</th>

        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="question in questions">
            >
            <td>{{ question.id }}</td>
            <td>{{ question.question }}</td>
            <td>
                <a href="#view-qestion/{{question.id}}" class="btn btn-primary">View</a>
            </td>
            <td>
                <a class=" btn btn-primary" ng-click="deleteQuestion(movie)">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
